/*Google Fonts*/    
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

/*Banner Section*/

.banner-section {
    background-image: url(../assets/about-us/home-banner-patton.png);
}

.banner-section .container {
    width: 100%;
    padding-right: 6%;
    padding-left: 6%;
    margin-right: auto;
    margin-left: auto;
}

.banner-section .top-text h2 {
    text-align: center  ;
    font-size: 21px;
    text-transform: uppercase;
    color: #ffffff;
}

.banner-section .text-box {
    padding: 25px 20px;
    margin-bottom: 25px;
    border: 1px solid #204a66;
}

.banner-section .text-box  p {
    position: relative;
    margin-left: 100px;
    
}

.banner-section .text-box ::before {
    position: absolute;
    left: -100px;
    content: url(../assets/about-us/core-icon.png);
    
}

.banner-section .text-box p {
    min-height: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    font-weight: 400;   
    line-height: 25px;
    letter-spacing: 0.5px;
    color: #ffffff;
}

.banner-section .bottom-text-box {
    width: 50%;
}

/*Text Section*/

.text-section .paragraph-0 {
    font-size: 11pt;
}

.text-section .blue-heading {
    text-transform: uppercase;
}

/*.text-section .heading-wrapper {
    border-bottom: 1px solid #a3d2f2;
}
*/

/* Media Querris */

@media (max-width: 992px) {
    .banner-section .bottom-text-box {
        width: 100%;
    }
}

@media (max-width: 431px) {
    .banner-section .bottom-text-box {
        width: 100%;
    }
}

@media (max-width: 376px) {
    .banner-section .container {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .banner-section .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .banner-section .text-box ::before {
        position: absolute;
        left: -60px;
        content: url(../assets/about-us/core-icon.png);
    }
    .banner-section .text-box p {
        margin-left: 50px;
        font-size: 12px;
    }
}


